

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav [(opened)]="opened" mode="side" style="background-color: goldenrod">
         <mat-list role="list">
                <mat-list-item role="listitem">                             
                           <button mat-raised-button mat-mini-fab class="mr-5"><i class="fas fa-home"><a  routerLink="/home"></a></i></button>
                </mat-list-item>
                <mat-list-item role="listitem">
                        <button mat-raised-button  mat-mini-fab class="mr-5"><i class="fas fa-user"> <a  routerLink="/login"></a></i></button>

                </mat-list-item>
                <mat-list-item role="listitem">
                                <button mat-raised-button  mat-mini-fab class="mr-5"><i class="fas fa-paper-plane"> <a  routerLink="/places"></a></i></button>
        
                        </mat-list-item>
              </mat-list>
              
    </mat-sidenav>
    <mat-sidenav-content>
            <mat-toolbar color="primary" style="height:65px" > 
                    
                       
                    <mat-toolbar-row>
                            <div class="button-row">
                                <button  mat-button mat-raised-button mat-fab color="accent" class="mr-5"  (click)="sidenav.toggle()"><i class="fas fa-bars"></i></button>
                                <button mat-raised-button mat-mini-fab class="mr-5"><i class="fas fa-home"><a  routerLink="/home"></a></i></button>
                                <button mat-raised-button  mat-mini-fab class="mr-5"><i class="fas fa-user"> <a  routerLink="/login"></a></i></button>
                                <button mat-raised-button  mat-mini-fab class="mr-5"><i class="fas fa-paper-plane"> <a  routerLink="/places"></a></i></button>

                                
                              </div>
                    </mat-toolbar-row>
                  </mat-toolbar>
                  
           
        <router-outlet></router-outlet>
    </mat-sidenav-content>
 </mat-sidenav-container>