<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
    crossorigin="anonymous">

  <title>Hello, User!</title>
</head>

<body>

    <div class="container">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
       
          
            <div ngModelGroup="datetime">
              <mat-form-field class="example-full-width">
                  <input name="date" matInput [matDatepicker]="picker" placeholder="Choose a date" ngModel required/>
                  <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
    
                <div  ngModelGroup="time">
                  
                        <mat-form-field class="example-full-width">
                            <input type="number"  name="hour" matInput placeholder="hour" ngModel required maxlength="2"/><br>
                          </mat-form-field>
                          
                          <mat-form-field class="example-full-width">
                          <input type="number" maxlength="2" name="minute" matInput placeholder="minutes" ngModel required/>
                        </mat-form-field>
                        
                        <mat-form-field>
                            <mat-select placeholder="AM/PM" name="meridian" [(value)]="selectedMeridian" name="meridian" ngModel required>
                              <mat-option value="AM">AM</mat-option>
                              <mat-option value="PM">PM</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    </div>
                    
                
            
            <mat-form-field>
              <mat-select placeholder="Enter duration" name="time" [(value)]="selected" name="duration" ngModel required>
                <mat-option *ngFor="let d of duration" value="{{d}}">{{d}}</mat-option>
              </mat-select>
            </mat-form-field>
            <br> 
            <!-- <div ngModelGroup="mood">
                <mat-checkbox ngModel [(ngModel)]="foodies"  name="foodies">Foodies</mat-checkbox ><br>
                <mat-checkbox ngModel [(ngModel)]="religious" name="religious">Religious</mat-checkbox ><br>
                <mat-checkbox ngModel [(ngModel)]="party" name="party">Party</mat-checkbox ><br>
                <mat-checkbox ngModel [(ngModel)]="pubs" name="pubs">Pubs</mat-checkbox ><br>
                <mat-checkbox ngModel [(ngModel)]="nearby" name="nearby">Nearby</mat-checkbox><br>
          </div> -->
       
         
        <button  mat-button mat-raised-button color="accent" type="submit" class="btn btn-block" [disabled]="!f.valid">Proceed</button>
      </form>
    </div>
   
    
</body>
</html>


