
<div  class="center loginBackground" align="center" style="width: 100vw; height:100vh;">


<!-- <div style="width:100%; ">

  <table align="center" class="table-style" style="position:fixed; top:40%; left:40%">
    <tr>
<div style="color:white" class="top-nav-bar">

<!- Logo here  <hr>
</div> -->


<div style="width:100%; ">
  <table align="center" class="table-style" style="position:fixed; top:20%; left:40%">
    <tr align="center">
      <img  style="padding:40px 0px 20px 0px"src="assets/img/logo.png" width="100px" />
    </tr>
    <tr>
      <td align="center" style="padding:0 0 0 0;">
        <h1 style="color:white">Log In</h1>
        <!--{{doctors}}-->
      </td>
    </tr>
    <tr>
      <td style="padding-top: 0px; vertical-align: bottom">
        <!--<button (click)="login()" id="google" class="nopadding"><img src="assets/img/1.png" align="center"></button>-->
        <input (click)="login()" type='image' src='/assets/img/1.png' id="google" name='signin-button' width="500px" height="200px" />
      </td>
    </tr>
  </table>

  </div>
  <div style="color:white" class="footer">
    Contact us: Team FRCE
  </div>

</div>
