
<div  class="center loginBackground" align="center" style="width: 100vw; height:100vh;">


<!-- <div style="width:100%; ">

  <table align="center" class="table-style" style="position:fixed; top:40%; left:40%">
    <tr>
<div style="color:white" class="top-nav-bar">

<!- Logo here  <hr>
</div> -->


<div  class="content">
  
  
  <!-- <table align="center" class="table-style" style="position:fixed; top:20%; ">
    <tr align="center">
      <img  style="padding:40px 0px 20px 0px"src="assets/img/logo.png" width="100px" />
    </tr>
    <tr>
      <td align="center" style="padding:0 0 0 0;">
        <h1 style="color:white">Log In</h1> -->
          
      <!-- </td>
    </tr>
    <tr>
      <td style="padding-top: 0px; vertical-align: bottom">
        <input (click)="login()" type='image' src='/assets/img/1.png' id="google" name='signin-button'  />
      </td>
    </tr>
  </table> -->

  <img class ="imgIco" src="/assets/img/ico1.jpg">

  <br>

    <img (click)=login() class ="imgSize" src="/assets/img/gImg.png">

  </div> 
  <div style="color:white" class="footer">
    <b>Contact us: Team NAPSACK</b>
  </div>

</div>
